@use '../../styles/variables';
.deeds__list {
    @include variables.flex-box-column;
    gap: variables.$flex-gap;
    height: 100%;
}
.deeds__item {
    @include variables.flex-box-column;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: variables.$bg-color-section;
    padding: variables.$padding;
    border-radius: variables.$border-radius;
    &_add {
        display: block;
        text-align: center;
        transition: variables.$transition;
        cursor: pointer;
        &:hover {
            @include variables.box-shadow;
        }
    }
}
.deeds__info {
    @include variables.flex-box-column;
    align-items: baseline;
}
.deeds__btns {
    @include variables.flex-box-column;
    flex-direction: row;
    gap: 0.8rem;
}
.deeds__btn {
    font-size: 22px;
    border: none;
    padding: 0.4rem 0.5rem;
    background: #f5f5f5;
    border-radius: 50%;
    @include variables.box-shadow;
    cursor: pointer;
    transition: variables.$transition;
    &:hover {
        transform: translateX(-3px);
    }
}
