@use 'variables';
.home {
    @include variables.flex-box-column;
    background-color: variables.$bg-color;
    border-radius: variables.$border-radius;
    width: variables.$card-width;
    padding: variables.$padding;
    box-sizing: border-box;

    &__profile {
        box-sizing: border-box;
        @include variables.flex-box-column;
        background-color: variables.$bg-color-section;
        flex-direction: row;
        justify-content: space-between;
        border-radius: variables.$border-radius;
        width: 100%;
        padding: variables.$padding;
    }
    &__dashboard {
        @include variables.flex-box-column;
        align-items: start;
        justify-content: space-between;
        flex-direction: row;
        padding: variables.$padding;
        width: 100%;
        box-sizing: border-box;
    }
    &__friends {
        @include variables.flex-box-column;
        align-items: start;
        width: 30%;
    }
    &__deeds {
        @include variables.flex-box-column;
        align-items: start;
        width: 60%;
    }
}
